<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	AAcv/DhmuElIHT2ZsgO78g2aaOfQWBm3RsihvQlJejxxKor9YSiBJD2ZtOIzTXgickWM
	0zQ5YR6mxfoKpxUfVAOUPhbMFBNyLjjOreDk8Zh9om2GTEetpOMXbcBLWpqFz1tTPbIx
	4S5QHxHn7yMKRye+CqHze5GXqzk3RiDuM10=
	</data>
</dict>
</plist>
